In [ ]:
'''
Find employees whose salary 
is greater than the salary of employee 'John'.
'''

In [ ]:
'''
Subqueries

Find employees whose salary is greater than the salary of 
employee 'John'.

Get all products priced higher than the average price of 
their category.

Find departments that have no employees 
(use NOT IN or NOT EXISTS).

Show the second highest salary in the company
 (without using LIMIT/TOP).

Find customers who placed orders on the same date as 
customer 'Alice'.

'''

In [ ]:
select name from employees 
where  salary > ( selcet salary from employees where name='John' );

In [ ]:
'''
Get all products priced higher 
than the average price of their category.
'''

In [ ]:
select name from product AS p
where price > (select avg(price) from product  WEHER category =p.category)

In [ ]:
SELECT
  name
FROM (
  SELECT
    name,
    price,
    category,
    AVG(price) OVER (PARTITION BY category) AS avg_category_price
  FROM
    product
) AS subquery
WHERE
  price > avg_category_price;

In [ ]:
'''
Show the second highest salary in
the company (without using LIMIT/TOP).

'''
select name ,rank (2) over (salary order by DESC) as salary_rank form 
employees

In [ ]:
select max(salary) from employees 
where salary < (select max(salary) from employees)

In [ ]:
'''
Find customers who placed orders 
on the same date as customer 'Alice'.
'''

In [ ]:
'''
WITH Clause (CTEs)

Use a CTE to calculate total sales per customer, then 
return only customers who spent more than $10,000.


Write a CTE to calculate total sales per product, 
then select the top 5 products by revenue.

Using a recursive CTE, generate a sequence of numbers 
from 1 to 100.

Using CTE, find the employee hierarchy (manager → employee 
chain).

With CTE, calculate monthly revenue and then compute a
 running total across months.

Create a CTE to calculate each employee’s salary vs. 
department average salary.

'''